*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

.box, h1{
    display: inline-block;
    font-size: 40px;
}


main{
    background-color: rgb(229, 228, 228);
    height: 800px;
    padding: 40px;
    padding-left: 200px;
    padding-right: 200px;
}

.content{
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 3%;
}

.but1{
    background-color: #47adf1;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10%;
}

.but2{
    background-color: white;
    color: #c3ced1;
    padding: 10px 10px 10px 10px;
    border-radius: 10%;
    border-color: #c3ced1; 
}

.border{
    padding-top: 10px;
    border-bottom:2px solid rgb(216, 216, 216);
}


.check{
    color: #65c1ab;
    width: 30px;
    height: 30px;
    border: 3px solid #65c1ab;
    border-radius: 50%;
}

.mark{
    color: #e73b33;
    width: 30px;
    height: 30px;
    border: 3px solid #e73b33;
    border-radius: 50%;
}


.click{
    border-radius: 30px;
    line-height: 20px;
    color: white;
    padding: 5px;
}

._blue{
    background-color: #45abea;
}

._purple{
    background-color: #9c72e4;
}

._green{
    background-color: #64c0a9;
}

._yellow{
    background-color: #f29e33;
}

._pink{
    background-color: #d863a1;
}

._verdastro{
    background-color: #b0c926;
}
